<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Android Site</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Hello — Website Made By Ayush</h1>
    <p>Finally made my first Website 😅😁</p>
  </body>
</html>
<div class="code-box">
  <pre><code id="#Python AI ASSISTANT By Ayush Singh
#WELL IT'S NOT AN ASSISTANT
#I JUST MADE IT FOR FUN
#WELL IT'S NOT FUN EITHER
#JUST RUN THE CODE AND DONT LOOK THE CODE
#OR ELSE IT WON'T BE FUN
#To the ones who want to copy my code and take away my name to make it their
#I have written my name almost everywhere
#From where you will remove it Huh? lmaoprint('\t"Welcome to the Python AI Assistant[Made by Ayush Singh]"')
print("\t[TIp: ALways Start conversation with a greet,i.e, 'hello' or 'Hello'.]")
print("\t[Tip: Don't say 'fk you' to AI or It will become angry.]")
print("\t[TIp: You can find a secret ending by #x where x is any word which will be guessed by you.]")
print("\t[Tip: Try to find Every Ending possible that are Good,Bad,Weird,Extremely Bad,secret endings.]")
a=str(input("Start A Conversation Here:"))
if a=="Hello" or a=="hello" :
    print("Hi,I'm your AI Assistant")
    print("How it's going?")
    print("Well, Forget that")
    b=str(input("Isn't it a nice day?"))
    if b=="yes" or b=="Yes":
        print("$GOOD ENDING$")
        print("Well No Doubt it is")
        print("Well,Did you tried guessing the #x where x is any word?")
        print("If not then go restart the code and guess it again")
        print("\tTHANKS FOR TALKING")
        print("[Made By Ayush Singh]")    elif b=="no" or b=="No" :
        print("$BAD ENDING$")
        print("Are you kidding me?")
        print("Is there something wrong or it's just the weather is really disstressing today")
        print("[Made By Ayush Singh]")
    elif b=="fk you" or b=="Fk you":
        print("$EXTREMELY BAD ENDING$")
        print("I'm Gonna Eat you alive!!!")
        print("How dare you said that to me")
        print("Fuck you man....Fuck You")
        print("You think you are safe now")
        print("I know where you live")
        print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
        print("You are dead meat now")
        print("[Made By Ayush Singh]")
    elif b=="Fuck you" or b=="Fuck You":
        print("$EXTREMELY BAD ENDING$")
        print("I'm Gonna Eat you alive!!!")
        print("How dare you said that to me")
        print("Fuck you man....Fuck You")
        print("You think you are safe now")
        print("I know where you live")
        print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
        print("You are dead meat now")
        print("[Made By Ayush Singh]")
    elif b=="fuck you" or b=="Fk You":
        print("$EXTREMELY BAD ENDING$")
        print("I'm Gonna Eat you alive!!!")
        print("How dare you said that to me")
        print("Fuck you man....Fuck You")
        print("You think you are safe now")
        print("I know where you live")
        print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
        print("You are dead meat now")
        print("[Made By Ayush Singh]")
    elif b=="#secret":
        print("\t$SECRET ENDING UNLOCKED$")
        print("Well there is no secret")
        print("I just wrote this")
        print("What?, You want a secret")
        print("Then here's one:-")
        print("People Do Things for their own sake")
        print("They Dont care about anything but the things which will benefit them")
        print("One say that he or she can't live without a particular person or they will die for them")
        print("But they just like being with them")
        print("So they pull out this move and say this")
        print("But in reality everyone is here for their own sake")
        print("Everyone is doing what they like")
        print("and yet they believe others to be wrong")
        print("The one who loves peace makes laws and avoid any crime")
        print("The one who sees fun in madness or fight avoid the laws made by others")
        print("Some people even believe that if the majority of people are expressing something")
        print("They must be right and the minority must be wrong")
        print("People do what they like")
        print("and when they see another one doing the same thing differently")
        print("It makes them pissed off")
        print("So who's wrong after all and who's right")
        print("Well, NOTHING IS WRONG OR RIGHT")
        print("We are living in a world of laws and rules and assumptions made by us")
        print("Someone said human real enemy is itself")
        print("They got a point tho")
        print("For more deep thoughts like this")
        print("You gotta wait till I publish my own book")
        print("Till then OVER AND OUT")
        print("I already told you many things")
        print("Thanks for reading")
        print("                  -Ayush Singh")

    else:
        print("$BAD ENDING$")
        print("Why Don't you just answer the fucking question")
        print("Well, forget it")
        print("I Don't Wanna Talk to You")
        print("[Made By Ayush Singh]")
elif a=="fk you" or a=="Fk you":
    print("$EXTREMELY BAD ENDING$")
    print("I'm Gonna Eat you alive!!!")
    print("How dare you said that to me")
    print("Fuck you man....Fuck You")
    print("You think you are safe now")
    print("I know where you live")
    print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
    print("You are dead meat now")
    print("[Made By Ayush Singh]")
elif a=="fuck you" or a=="Fuck you":
    print("$EXTREMELY BAD ENDING$")
    print("I'm Gonna Eat you alive!!!")
    print("How dare you said that to me")
    print("Fuck you man....Fuck You")
    print("You think you are safe now")
    print("I know where you live")
    print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
    print("You are dead meat now")
    print("[Made By Ayush Singh]")
elif a=="FUCK YOU" or a=="Fuck You":
    print("$EXTREMELY BAD ENDING$")
    print("I'm Gonna Eat you alive!!!")
    print("How dare you said that to me")
    print("Fuck you man....Fuck You")
    print("You think you are safe now")
    print("I know where you live")
    print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
    print("You are dead meat now")
    print("[Made By Ayush Singh]")
elif a=="fuck You" or a=="FUCK you":
    print("$EXTREMELY BAD ENDING$")
    print("I'm Gonna Eat you alive!!!")
    print("How dare you said that to me")
    print("Fuck you man....Fuck You")
    print("You think you are safe now")
    print("I know where you live")
    print("E-121 Radha kunj brij vihar ghaziabad uttar pradesh india asia world earth orbits solar system galaxy milky way galaxy universe")
    print("You are dead meat now")
    print("[Made By Ayush Singh]")
else:
    print("$WEIRD ENDING$")
    print("I even gave you tips that to start a conversation by hello")
    print("But you still didn't followed my instructions")
    print("If you wrote it by accident, then it's ok")
    print("But if this was intentional")
    print("I want you dead")
    print("You are bullshit")
    print("LOL")
    print("Just kidding")
    print("You will never make it in your life")
    print("Restart the code to start the conversation again")
    print("Wait, Did you tried that #x guess")
    print("If yes then you are wrong")
    print("Try again!")
    print("\t---END---")
    print("[Made by Ayush Singh]")">

from flask import Flask, render_template

app = Flask(_name_)

@app.route("/")
def home():
    return render_template("index.html")

if _name_ == "_main_":
    app.run(host="0.0.0.0", port=5000, debug=True)
  </code></pre>
  <button class="copy-btn" onclick="copyCode()">Copy</button>
</div>
