<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Android Site</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Hello — Website Made By Ayush</h1>
    <p>Finally made my first Website 😅😁</p>
  </body>
</html>
<div class="code-box">
  <pre><code id="myCode">
# Paste or write your code here
from flask import Flask, render_template

app = Flask(_name_)

@app.route("/")
def home():
    return render_template("index.html")

if _name_ == "_main_":
    app.run(host="0.0.0.0", port=5000, debug=True)
  </code></pre>
  <button class="copy-btn" onclick="copyCode()">Copy</button>
</div>
